# Volume 3 Project

This is where we will work on our volume 3 project. Remember to pull before working and to push after making any edits!

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import statsmodels.api as sm
import sklearn
from scipy import stats
from statsmodels.regression.linear_model import OLS
from sklearn import linear_model as lm
from sklearn import naive_bayes
from sklearn.model_selection import train_test_split

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
github_url = "https://raw.githubusercontent.com/pjfort/pell_grants/main/data/raw/"

# Data Cleaning
Data on college atrributes comes from https://opportunityinsights.org/data/
Pell grant data comes from  https://www2.ed.gov/finaid/prof/resources/data/pell-institution.html

In [3]:
# Load in Opportunity Insight data
mobility_df = pd.read_csv(github_url + "mrc_table1.csv")
characteristics_df = pd.read_csv(github_url + "mrc_table10.csv")

# Merge dataframes
mobility_df = mobility_df.drop(columns=['name', 'state', 'czname']) 
df = mobility_df.merge(characteristics_df, on='super_opeid', how="outer")

In [5]:
# Fill in missing data

# Data coming from the Mobility table
# There are ~264 nans in here out of ~2466.
df["par_median"] = df["par_median"].fillna(df["par_median"].mean())
df["k_median"] = df["k_median"].fillna(df["k_median"].mean())
df["par_q1"] = df["par_q1"].fillna(df["par_q1"].mean())
df["par_top1pc"] = df["par_top1pc"].fillna(df["par_top1pc"].mean())
df["kq5_cond_parq1"] = df["kq5_cond_parq1"].fillna(df["kq5_cond_parq1"].mean())
df["ktop1pc_cond_parq1"] = df["ktop1pc_cond_parq1"].fillna(df["ktop1pc_cond_parq1"].mean())
df["mr_kq5_pq1"] = df["mr_kq5_pq1"].fillna(df["mr_kq5_pq1"].mean())
df["mr_ktop1_pq1"] = df["mr_ktop1_pq1"].fillna(df["mr_ktop1_pq1"].mean())
df["trend_parq1"] = df["trend_parq1"].fillna(df["trend_parq1"].mean())
df["trend_bottom40"] = df["trend_bottom40"].fillna(df["trend_bottom40"].mean())
df["count"] = df["count"].fillna(df["count"].mean())

# Data from College Characteristics table
df["county"] = df["county"].fillna("none")

# If a school has nan here, they probably actually spent money on instruction
df["exp_instr_pc_2000"] = df["exp_instr_pc_2000"].fillna(df["exp_instr_pc_2000"].mean())
df["exp_instr_pc_2013"] = df["exp_instr_pc_2013"].fillna(df["exp_instr_pc_2013"].mean())
#df["multi"] = df["multi"].fillna(df["multi"].mean())
#df["hbcu"] = df["hbcu"].fillna(df["hbcu"].mean())
#df["flagship"] = df["flagship"].fillna(df["flagship"].mean())

# I'm not sure what this is.
df["ipeds_enrollment_2013"] = df["ipeds_enrollment_2013"].fillna(df["ipeds_enrollment_2013"].mean())
df["ipeds_enrollment_2000"] = df["ipeds_enrollment_2000"].fillna(df["ipeds_enrollment_2000"].mean())

# The school probably does cost something instead of nan. Let's do the mean
df["sticker_price_2013"] = df["sticker_price_2013"].fillna(df["sticker_price_2013"].mean())
df["sticker_price_2000"] = df["sticker_price_2000"].fillna(df["sticker_price_2000"].mean())

# Not quite sure about this column. Going to set to mean since the mean seams to be around 50%
df["grad_rate_150_p_2013"] = df["grad_rate_150_p_2013"].fillna(df["grad_rate_150_p_2013"].mean())
df["grad_rate_150_p_2002"] = df["grad_rate_150_p_2002"].fillna(df["grad_rate_150_p_2002"].mean())

# Giving teachers the average salary of other teachers makes sense here. 
df["avgfacsal_2013"] = df["avgfacsal_2013"].fillna(df["avgfacsal_2013"].mean())
df["avgfacsal_2001"] = df["avgfacsal_2001"].fillna(df["avgfacsal_2001"].mean())

# I will include this column. Too much of the data is missing for me to feel comfortable setting it to the mean. If you want to use it, get rid of the zero values.
df["sat_avg_2013"] = df["sat_avg_2013"].fillna(0)
df["sat_avg_2001"] = df["sat_avg_2001"].fillna(0)

# Probably okay to set to mean. Also not much missing data
df["scorecard_netprice_2013"] = df["scorecard_netprice_2013"].fillna(df["scorecard_netprice_2013"].mean())

# Too much of the data is missing. I am dropping this column.
df = df.drop(columns=["scorecard_rej_rate_2013"])
#df["scorecard_rej_rate_2013"] = df["scorecard_rej_rate_2013"].fillna(df["scorecard_rej_rate_2013"].mean())

# Setting to the mean seems alright for this.
df["scorecard_median_earnings_2011"] = df["scorecard_median_earnings_2011"].fillna(df["scorecard_median_earnings_2011"].mean())

# I'm not quite sure what this entails and quite a bit of data is missing. I'm dropping it.
df = df.drop(columns=["endowment_pc_2000"])
#df["endowment_pc_2000"] = df["endowment_pc_2000"].fillna(df["endowment_pc_2000"].mean())

# I feel comfortable setting nans to the mean here.
df["exp_instr_2012"] = df["exp_instr_2012"].fillna(df["exp_instr_2012"].mean())
df["exp_instr_2000"] = df["exp_instr_2000"].fillna(df["exp_instr_2000"].mean())

# For the rest of these, there isn't a ton of data missing, so I'll drop the rows.
df["asian_or_pacific_share_fall_2000"] = df["asian_or_pacific_share_fall_2000"].fillna(df["asian_or_pacific_share_fall_2000"].mean())
df["black_share_fall_2000"] = df["black_share_fall_2000"].fillna(df["black_share_fall_2000"].mean())
df["hisp_share_fall_2000"] = df["hisp_share_fall_2000"].fillna(df["hisp_share_fall_2000"].mean())
df["alien_share_fall_2000"] = df["alien_share_fall_2000"].fillna(df["alien_share_fall_2000"].mean())
df["pct_arthuman_2000"] = df["pct_arthuman_2000"].fillna(df["pct_arthuman_2000"].mean())
df["pct_business_2000"] = df["pct_business_2000"].fillna(df["pct_business_2000"].mean())
df["pct_health_2000"] = df["pct_health_2000"].fillna(df["pct_health_2000"].mean())
df["pct_multidisci_2000"] = df["pct_multidisci_2000"].fillna(df["pct_multidisci_2000"].mean())
df["pct_publicsocial_2000"] = df["pct_publicsocial_2000"].fillna(df["pct_publicsocial_2000"].mean())
df["pct_stem_2000"] = df["pct_stem_2000"].fillna(df["pct_stem_2000"].mean())
df["pct_socialscience_2000"] = df["pct_socialscience_2000"].fillna(df["pct_socialscience_2000"].mean())
df["pct_tradepersonal_2000"] = df["pct_tradepersonal_2000"].fillna(df["pct_tradepersonal_2000"].mean())

# Drop the nan rows
df = df.dropna()

In [6]:
# Create crosswalk between one-to-many super_opeid and opeid
opeid_crosswalk = pd.read_csv(github_url + "mrc_table11.csv")
opeid_crosswalk = opeid_crosswalk.loc[(opeid_crosswalk['multi'] == 1) & (opeid_crosswalk['super_opeid'] != -1)]
super_opeid_lookup = dict()
for id, superid in zip(opeid_crosswalk['opeid'], opeid_crosswalk['super_opeid']):
        super_opeid_lookup.update({str(id) + '00':str(superid) + '00'})

# Format super_opeid
df['super_opeid'] = df['super_opeid'].astype('str') + '00'

# Create crosswalk between pellid and opeid
crosswalk_data = pd.read_excel(github_url + "pell-inst-03-04.xls")

pell_crosswalk = crosswalk_data[['OPEID', 'PELLID']]
pell_crosswalk = pell_crosswalk.dropna()
pell_crosswalk['OPEID'] = pell_crosswalk['OPEID'].astype(int)

In [7]:
# Helper function to merge in pell grant data
def add_pell_grants(df, year, ftype, vars, id, add_opeid=False, add_zeros=False):
    # Load in data
    pell_df = pd.read_excel(github_url + "pell-inst-"+ year + ftype)
    if add_opeid:
        pell_df = pell_df.merge(pell_crosswalk, on='PELLID', how='left')
    
    # Keep relevant variables
    pell_df = pell_df[[id, vars[0], vars[1]]]
    pell_df = pell_df.dropna()
    
    # Change opeid to super_opeid
    for i in range(pell_df.shape[0]):
        opeid = str(pell_df[id].iloc[i])
        if add_zeros:
            opeid = opeid + "00"
            pell_df[id].iloc[i] = opeid
        if opeid in super_opeid_lookup.keys():
            pell_df[id].iloc[i] = super_opeid_lookup[opeid]
    
    # Sum across super_opeid
    recip_series = pell_df.groupby(id)[vars[0]].sum()
    award_series = pell_df.groupby(id)[vars[1]].sum()


    # Create new dataframe
    pell_df = pd.merge(recip_series, award_series, on=id)
    pell_df = pell_df.rename(columns = { vars[0]:'recipients_'+year[-2:], vars[1]:'awards_'+year[-2:]})
    pell_df['super_opeid'] = pell_df.index.astype('str')
    pell_df['super_opeid'] = pell_df['super_opeid'].replace(r'\.0$','',regex=True)
    
    # Merge with df
    df = df.merge(pell_df, on='super_opeid', how='left')
    return df


df = add_pell_grants(df, '99-00', '.xls', ['Recipients', 'Awards'], 'OPEID', add_opeid=True)
df = add_pell_grants(df, '00-01', '.xls', ['Recipients', 'Awards'], 'OPEID', add_opeid=True)
df = add_pell_grants(df, '01-02', '.xls', ['Recipients', 'Awards'], 'OPEID', add_opeid=True)
df = add_pell_grants(df, '02-03', '.xls', ['Recipients', 'Awards'], 'OPEID')
df = add_pell_grants(df, '03-04', '.xls', ['Recipients', 'Awards'], 'OPEID')
df = add_pell_grants(df, '04-05', '.xls', ['Recipients', 'Awards'], 'OPEID')
df = add_pell_grants(df, '05-06', '.xls', ['Recipients', 'Awards'], 'OPEID')
df = add_pell_grants(df, '06-07', '.xls', ['Recipients', 'Awards'], 'OPEID')
df = add_pell_grants(df, '07-08', '.xls', ['Recips', 'Awards'], 'OPEID')
df = add_pell_grants(df, '08-09', '.xls', ['Recipients', 'Awards'], 'OPEID')
df = add_pell_grants(df, '09-10', '.xls', ['Recips', 'Awards'], 'OPEID', add_opeid=False, add_zeros=True)
df = add_pell_grants(df, '10-11', '.xls', ['Recipients', 'Awards'], 'OPEID')
df = add_pell_grants(df, '11-12', '.xls', ['Recips', 'Awards'], 'OPEID')
df = add_pell_grants(df, '12-13', '.xls', ['Total Recipients', 'Total Awards'], 'OPE ID')
df = add_pell_grants(df, '13-14', '.xls', [' Total Recipients ', ' Total Awards '], 'OPE_ID')
df = add_pell_grants(df, '14-15', '.xls', ['Total_Recipients', 'Total_Awards'], 'OPE_ID')
df = add_pell_grants(df, '15-16', '.xlsx', ['Total Recipients', 'Total Awards'], 'OPE ID')
df = add_pell_grants(df, '16-17', '.xlsx', [' TOTAL RECIPIENTS ', ' TOTAL AWARDS '], 'OPE_ID')
df = add_pell_grants(df, '17-18', '.xlsx', [' TOTAL RECIPIENTS ', ' TOTAL AWARDS '], 'OPE_ID')

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [8]:
# Fill in the missing pell grant with zeros. 
df = df.fillna(0)

In [9]:
df.head()

  super_opeid  par_median  k_median  ...   awards_17  recipients_18   awards_18
0      266500     30900.0   53000.0  ...   4352283.0          993.0   4440556.0
1      727300     42800.0   57600.0  ...  33739177.0            0.0         0.0
2      268800     35500.0   48500.0  ...  34072456.0            0.0         0.0
3      702200     32500.0   40700.0  ...  29210253.0            0.0         0.0
4      114000     36600.0   43000.0  ...  76614345.0        17709.0  84953170.0

[5 rows x 96 columns]

In [11]:
# Export data
df.to_csv('cleaned_dataframe.csv', index=False)